.container__content {
  width: 100%;
  height: calc(100% - 1px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__cover > img {
  width: 500px;
  min-width: 500px;
  height: 300px;
  margin-top: 2rem;
  border-radius: 5px;
}

.content__title {
  margin: 1rem;
}

.content__description {
  margin-top: 15px;
}

.container__small-card__separador {
  margin-top: .5rem;
}

.container__small-card__receipt {
  max-width: 500px;
  padding: 2rem;
  text-align: center;
}

.container__small-card__ingredients > h3, .container__small-card__preparation-method > h3, .container__small-card__details > p  {
  margin-top: 1.5rem;
}

.container__small-card__ingredients > ul {
  margin-top: .5rem;
}

.container__small-card__preparation-method >ul > li {
  margin-top: .5rem;
}
