
<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
      Id="2"
      photoCover="https://images.pexels.com/photos/13188970/pexels-photo-13188970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Bolo de Cenoura com Coco"
    >
    </app-big-card>
    <app-big-card
      Id="4"
      photoCover="https://images.pexels.com/photos/60616/fried-chicken-chicken-fried-crunchy-60616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Frango à Passarinho"
    >
    </app-big-card>
  </div>
  <div class="artcles__others">
    <app-small-card
      Id="1"
      photoCover="https://images.pexels.com/photos/940842/pexels-photo-940842.jpeg"
      cardTitle="Bolo de Fubá com Milho"
    >
    </app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://thumbs.dreamstime.com/b/o-stroganoff-da-galinha-%C3%A9-um-prato-que-origina-culin%C3%A1ria-do-russo-em-brasil-composta-creme-de-leite-com-extrato-tomate-arroz-e-153933118.jpg?w=768"
      cardTitle="Strogonoff"
    >
    </app-small-card>

    <app-small-card
      Id="5"
      photoCover="https://images.pexels.com/photos/14048850/pexels-photo-14048850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      cardTitle="Bolo de Chocolate Alemão"
    >
    </app-small-card>
  </div>

</div>

<!--
<h1>NOVIDADES</h1>
<hr>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>
  <div class="artcles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div> -->
